*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

.Nav{
    width: 100%;
    background-color: rgb(81, 185, 204);
    height: 50px;
    text-align: left;
}

.Nav > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}

.Nav>ul>li{
    display: inline-block;
    width: 100px;
    height: 50px; 
    line-height: 50px;
    text-align: center;
}

.active{
    background-color: rgb(68, 126, 42);
    color: rgb(195, 248, 70);
}

/* 二级菜单 */

.leftNav{
    float: left;
    width: 150px;
    height: 300px;
    background-color: rgb(255, 115, 115);
}

.leftNav > li{
    height: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
}

.musicDetails > div {
    display: inline-block;
    margin: 20px 30px;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    background: rgb(233, 111, 111);
}
.musicDetails > div > a{
    display: block;
    width: 100%;
    height: 100%;
}